#root{
    -fx-background-color: #9E9E9E;
}

#left_pic{
    -fx-background-color: #f5f5f5;
}

#right_pic{
    -fx-background-color: #f5f5f5;
}
#imp_btn{
    -fx-background-color: #BDBDBD;
}
#Cope_btn{
    -fx-background-color: #BDBDBD;
}